

body { 
font-family: 'Playfair Display SC', serif;
background-color:white;
text-align: center;
}

/* Allows my html links to change color when mouse hovers over*/
a:hover { 
    background-color: lightblue;
}
/* This centers all my text on a page */
.Centerer
{
	display: block;
	margin:auto; 
}
.menubuttons {
	//display: inline-block;
}

#button {
	display: inline-block;
	 border: 1px solid #333;
    	 box-shadow: 2px 4px 2px #444;
    	 padding: 2px 12px;
	 width: 125px;	
}
#MyImages { 
	margin: auto;
}
/* how to create a different color when active*/
a:link, a:visited {
    background-color: white;
    color: red;
	/*
    padding: 15px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
	*/
}

a:hover, a:active {
/*
    border: 1px solid #333;
    box-shadow: 2px 4px 2px #444;
    padding: 2px 12px;*/
	
}
img {
   padding:5px;
   border:5px solid :black;
   background-color:white;
}

